label {
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
}

input[type='submit'],
label {
    margin-top: 1rem;
}

.error {
    font-size: 0.85rem;
    color: red;
    display: none;
    margin-top: 2px


}