label {
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
}

input[type='submit'],
label {
    margin-top: 1rem;
}

.error {
    font-size: 0.85rem;
    color: red;
    display: none;
    margin-top: 2px


}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    
}

div button{
    background-color: rgb(46, 46, 228);
    margin-top: 20px;
    color:white;
    border-radius: 20px;
}